doctype html
html
  head
    title Iniciar Sesión
    meta(charset='UTF-8')
    link(rel='shortcut icon' href='./img/favicon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet' href='css/index.css')
    link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  body
    .contenedor
      img#img-fondo(src='img/fondo-galaxy.jpg')
      img#img-logo(src='img/logo3.png')
      h1.titulo ORCUS
      h3.text
        | texto a 
        br
        | definir
      a.rectangulo-text1A(href='') Jugar
      a.rectangulo-text1A(href='') Instalar
      a.rectangulo-text1A(href='') Iniciar Sesión
    footer.pie
      .contenedor_pie
        h5.pie-text
          | © ALL RIGHT RESERVED.
          br
          | DESIGNED & DEVELOPED BY ORCUS

