* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video {
    position: fixed;
    top: 30%; left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
